<div class="d-flex align-items-center">
  <h1>料理一覧</h1>
  <div class="ml-auto dishes__linkBox">
    <%= form_tag dishes_path, method: :get, class: 'dishes__searchForm' do %>
      <%= select_tag :tag_id,
                      options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
                      {
                        prompt: 'タグで絞り込み',
                        class: 'form-control dishes__select',
                        onchange: 'submit(this.form);'
                      }
      %>
    <% end %>
    <%= link_to '新規作成', new_dish_path, class: 'btn btn-outline-dark'  %>
  </div>
</div>

<% if flash[:notice] %>
  <div class="alert alert-danger"><%= flash[:notice] %></div>
<% end %>

<table class="table table-hover dishes__table">
  <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>タイトル</th>
      <th>料理名</th>
      <th>作成日時</th>
      <th>更新日時</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @dishes.each do |dish| %>
      <tr>
        <td><%= dish.id %></td>
        <td><%= dish.title %></td>
        <td><%= dish.name %></td>
        <td><%= dish.created_at.to_s(:datetime_jp) %></td>
        <td><%= dish.updated_at.to_s(:datetime_jp) %></td>
        <td><%= link_to '詳細', dish, class: 'btn btn-outline-dark'  %></td>
        <td><%= link_to '削除', dish, class: 'btn btn-outline-dark', method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @dishes %>
