<div class="d-flex align-items-center">
  <h1>料理一覧</h1>
  <div class="ml-auto dishes__linkBox">
    <%= form_with url: dishes_path, method: :get, class: 'dishes__searchForm' do %>
      <%= select_tag :tag_id,
                      options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
                      {
                        prompt: 'タグで絞り込み',
                        class: 'form-control dishes__select',
                        onchange: 'submit(this.form);'
                      }
      %>
    <% end %>
    <%= link_to '新規作成', new_dish_path, class: 'btn btn-outline-dark'  %>
  </div>
</div>

<% if flash[:notice] %>
  <div class="alert alert-danger"><%= flash[:notice] %></div>
<% end %>

<div class="container">
  <div class="row">
    <% @dishes.each do |dish| %>
    <div class="col-lg-4">
      <div class="card border-secondary mb-2 " style="width: 18rem;">
        <%= image_tag dish.image, class: 'img-fluid' if dish.image.attached? %>
        <%# <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect fill="#868e96" width="100%" height="100%"/></svg> %>
        <div class="card-body">
          <h5 class="card-title"><%= dish.name %></h5>
          <p class="card-text"><%= dish.title %></p>
          <%= link_to '詳細', dish, class: 'btn btn-outline-warning'%>
          <%= link_to '削除', dish, class: 'btn btn-outline-danger', method: :delete %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
<%= paginate @dishes %>


