<div class="d-flex align-items-center">
  <h1>みんなの料理</h1>
    <%= search_form_for @search, class: 'form-inline m-5 my-lg-0' do |f| %>
        <%= f.search_field :name_cont, placeholder: "レシピを検索", aria_label: "Search", class: 'form-control mr-sm-2' %>
        <%= f.submit class: 'btn btn-warning my-2 my-sm-0' %>
    <% end %>
    <%= link_to 'みんなのレシピをCSV形式でまとめて保存する', dishes_path(format: :csv), class: 'btn btn-danger my-5'%>
  <div class="ml-auto dishes__linkBox">
    <%= form_with url: dishes_path, method: :get, class: 'dishes__searchForm' do %>
      <%= select_tag :tag_id,
                      options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
                      {
                        prompt: 'タグで絞り込み',
                        class: 'form-control dishes__select',
                        onchange: 'submit(this.form);'
                      }
      %>
    <% end %>
    <%# <% if user_signed_in? %> 
    <%= link_to '新しい料理を作る', new_dish_path, class: 'btn btn-warning btn-lg' %>
    <%# <% end %> 
  </div>
</div>

<% if flash[:notice] %>
  <div class="alert alert-danger"><%= flash[:notice] %></div>
<% end %>
<div class="container">
<%= page_entries_info @dishes %>
  <% @dishes.each do |dish| %>
  <div class="card mb-3" style="max-width: 1050px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <%= image_tag dish.image, class: 'img-fluid' if dish.image.attached? %>
        <%# <svg class="bd-placeholder-img" width="100%" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image"><title>Placeholder</title><rect fill="#868e96" width="100%" height="100%"/><text fill="#dee2e6" dy=".3em" x="50%" y="50%">Image</text></svg> %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><%= dish.name %></h5>
          <p class="card-text"><%= dish.title %></p>
          <%# <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> %>
          <%= link_to '詳細', dish, class: 'btn btn-outline-warning'%>
          <%= link_to '削除', dish, class: 'btn btn-outline-danger', method: :delete %>

        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>

<%= paginate @dishes %>


