<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
  <a class="navbar-brand" href="#">Mydish</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    <% if @current_user %>
      <li class="nav-item">
        <%= header_link_item('料理一覧', dishes_path) %>
      </li>
      <li class="nav-item">
        <%= header_link_item('マイページ', mypage_path) %>
      </li>
      <li class="nav-item">
        <%= header_link_item('ログアウト', logout_path) %>
        <%# <%= link_to 'ログアウト', logout_path, method: :delete, class: 'btn btn-outline-warning' %>
      </li>
    <% else %>
      <li class="nav-item">
        <%= header_link_item('登録', new_user_path) %>
      </li>
      <li class="nav-item">
        <%= header_link_item('ログイン', home_path) %>
      </li>
      <li class="nav-item">
        <%= header_link_item('ホーム', root_path) %>
      </li>
    <% end %>
    </ul>
    
  </div>
</nav>